<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Events Hub</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% if userinfo.is_authenticated %}
        <a class="navbar-brand" href="/home/{{userinfo.id}}/">Personal Event Manager</a>
        {% else %}
        <a class="navbar-brand" href="/login/">Personal Event Manager</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="margin-left: auto">

                {% if userinfo.is_authenticated %}
                <a class="nav-item nav-link" href="/home/{{userinfo.id}}/">Home</a>

                <a class="nav-item nav-link" href="/aboutus/{{userinfo.id}}/">About Us</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Event
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if userdetail.user_type is 1 %}
                        <a class="dropdown-item" href="/places/{{userinfo.id}}/">Book a Place</a>
                        <a class="dropdown-item" href="/services/{{userinfo.id}}/">Book a Service</a>
                        {% endif %}
                        {% if userdetail.user_type is 2 %}
                        <a class="dropdown-item" href="/createplace/{{userinfo.id}}/">Create a Place</a>
                        
                        {% endif %}
                        {% if userdetail.user_type is 3 %}
                        <a class="dropdown-item" href="/createservice/{{userinfo.id}}/">Create a Service</a>
                        
                        {% endif %}

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/blog/{{userinfo.id}}/">Blog</a>
                        {% endif %}
                    </div>
                </li>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="/account/{{userinfo.id}}/">{{userinfo.username}}</a>
                <a class="nav-item nav-link" href="/logout/">Logout</a>
                {% if userdetail.user_type is 1 %}
                <a class="nav-item nav-link" href="/checkout/{{userinfo.id}}/">Checkout</a>
                {% endif %}
                {% else %}
                <a class="nav-item nav-link" href="/login/">LogIn</a>
                <a class="nav-item nav-link" href="/signup/">SignUp</a>
                {% endif %}

            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>