<!-- user=models.ForeignKey(User,on_delete=models.CASCADE)
    blog_title=models.CharField(max_length=20)
    blog_content=models.TextField() -->

{% extends "base.html" %}
{% block body %}
<div class="container">
    <br><br />
    <h2>create new post</h2>
    <hr />
    <form action="/createblog/{{userinfo.id}}/" method="POST">
        {% csrf_token %}
        <p>Title</p>
        <input class="form-control" type="text" name="blog_title" placeholder="title" />
        <br>
        <p>Content</p>
        <textarea class="form-control" name="blog_content" placeholder="content"></textarea>
        <br>
        <button type="submit" class="btn btn-md btn-success">create</button>
    </form>
</div>
{% endblock %}